<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Firebase & Flask</title>
    <link rel="stylesheet" href="style.css">
</head>

<body class="full-screen flex-center">
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit" />
    </form>
    <form action="/search" method="POST" enctype="multipart/form-data">
        <input type="text" name="query" />
        <input type="submit" />
    </form>
</body>

</html>